POSTGRES_PASSWORD=
JWT_SECRET=
ANON_KEY=
SERVICE_ROLE_KEY=
API_EXTERNAL_URL=https://lelabo-ubuntu-server.tail944994.ts.net:54521/auth/v1
SITE_URL=https://lelabo-ubuntu-server.tail944994.ts.net:54521
GOTRUE_PASSWORD_MIN_LENGTH=12
JWT_EXPIRY=3600
